.bgImg {
	background-image: url(/src/Assets/grad.png);
  background-size : auto;
  background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
}

.textColor {
	color: white;
}

.jumbotronColor {
	position: relative;
	background-color: honeydew;
}
.form{
  position: relative;

}

li {
	list-style-type: '';
}

.footer {
  position:relative;
  left:0;
  bottom:0;
  right:0;

}
